.parallax-background .parallax-img {
  width: 100dvw;
  height: 100dvh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@media (max-width: 768px) {
  .parallax-background {
    padding: 0 12px 0;
  }
}